<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Web Page Design</title>
<title>Make a Button Link to Another Page</title>
<link href="../static/css/GUI.css" th:href="@{/css/GUI.css}" rel="stylesheet" />
</head>

<body>
<div>Hello, Java!</div>
<div id="div2">AI - Pro Track</div>
<H1 ><font > Wuzzuf Jobs Dataset Exploration and Visualization</font></H1>

<a href="http://localhost:8080/Section_I" class="button">Data Preparatoin</a>
<a href="http://localhost:8080/Section_II" class="button">Company's Job Count</a>
<a href="http://localhost:8080/Section_III" class="button">Popular Job Titles</a>
<a href="http://localhost:8080/Section_IV" class="button">Poplular Areas</a>
<a href="http://localhost:8080/Section_V" class="button">Skills Analytics</a>
<a href="http://localhost:8080/Section_VI" class="button">YearsExp Factorization</a>
<a href="http://localhost:8080/Section_VII" class="button">K-means Model</a>
</body>
</html>