<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Section III</title>
    <link href="../static/css/Section_I.css" th:href="@{/css/Section_I.css}" rel="stylesheet" />
</head>
<body>
<h1>Most Popular Job Titles</h1>
<div class="tableFixHead">
    <table>
        <thead>
        <tr>
            <!--            Title,Company,Location,Type,Level,YearsExp,Country,Skills-->
            <th>Job Title</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="item, iterStat: ${title.data}">
            <td th:text="${item}" />
                        <td th:text="${count.data[iterStat.index].Voila}">Emp Account</td>

        </tr>
        </tbody>
    </table>
</div>
<h1>Bar Chart</h1>
<div>
    <img src="../static/images/PopJobsBar.jpg"
         th:src="@{images/PopJobsBar.jpg}"/>
</div>
</body>
</html>